<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  
  
  <connectionStrings>
    <add name="ExternalDB"
      connectionString="Data Source=AKEMI-PC\SQLEXPRESS;Initial Catalog=db_TwitterPOC;Integrated Security=True"/>
  </connectionStrings>
  
 <!-- <connectionStrings>
    <add name="CnnString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Akemi\Desktop\VS\TwitterPOC\Service\App_Data\db_TwitterPOC.mdf;Integrated Security=True;User Instance=True"/>
  </connectionStrings>
  -->

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
