@model TwitterMVC.ViewModels.UserViewModels
           
<fieldset>
    <legend>Who to Follow</legend>
    @foreach (var item in Model.WhotoFollow)
    {
        <div class="boxtweet">
            <div class="display-label">
                Name: @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="display-label">
                Username: @Html.DisplayFor(modelItem => item.Username)
            </div>
            <div class="display-label">
                @Html.ActionLink("Follow", "Follow", "Follow", new { id = item.ID }, "")
            </div>
        </div>
    }
</fieldset>
